
div {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/*menu*/
.menu{
  width: 100%;
  height: 101px;
  background-color: black;
}
.brblogo{
  height: 100px;
  width: 150px;
  margin: 0 auto;
}
/*maincontainer*/
.maincontainer{
  margin: 0 auto;
  width: 1200px;
}


/* byrjun á slider*/
#slider {
  position: relative;
  overflow: hidden;
  margin: auto 0 auto;
  
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 1200px;
  height: 500px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 2% 2%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}

/*upplysinga box*/
.upplysingabox{
  width: 1200px;
  height: 800px;
  border-color: black;
}
.skraatburd{
  width: 600px;
  height: 400px;
  float: left;
   border: 1px solid black;
}
.miniratburdir{
  width: 600px;
  height: 400px;
  float: left;
   border: 1px solid black;
}
.mynd{
  width: 600px;
  height: 400px;
  float: left;
  float: left;
   border: 1px solid black;
}
.frett{
  width: 600px;
  height: 400px;
  float: right;
  float: left;
   border: 1px solid black;
}
/*footer*/
footer{
  width: 100%;
  height: 101px;
  background-color: black;
}
